<!-- Contacto -->

<section id="contacto">
    <div class="wrapper">
        <header>
            <h2>Te Gusta lo que Ves?</h2>
            <br>
            <!-- <h5>Suscríbete a nuestra Newsletter para recibir información!</h5>     -->
        </header>
            <!--
                <form action="">
                <input type="text">
                <input class="btn" type="submit" value="OK !">
                </form>
             -->

        <p>Si tienes alguna duda, quieres proponernos un proyecto o simplemente decir hola, escríbenos a <a href='mailto: info@estudiosreno.com?subject=Web!'>info@estudiosreno.com</a>, llámanos o encuéntranos en las redes.<br>Nuestros estudios están situados en la Calle Talisio 13, 28027 Madrid, España</p>

        <a rel="external" target="_blank" href="tel:+34912332958" class="phone" data-tel="34912332958"><i class="icon-phone"></i></a>
        <a rel="external" target="_blank" href="http://www.facebook.com/estudiosreno" class="facebook"><i class="icon-facebook"></i></a>
        <a rel="external" target="_blank" href="http://twitter.com/RenoEstudios" class="twitter"><i class="icon-twitter"></i></a>
        <a rel="external" target="_blank" href="http://vimeo.com/search?q=estudios+reno" class="vimeo"><i class="icon-vimeo"></i></a>
    </div>
</section>