<!-- Estudio -->

<section id="estudio">
    <header>
        <h2>Estudio</h2>
    </header>

    <div class="wrapper">
        {% for post in site.categories['estudio'] reversed %}
        {% if post.lang == page.lang %}
            <a href="{{ post.url }}" class="ajax {{ post.ident }}">
                <h3>{{ post.title }}</h3>
            </a>
        {% endif %}
        {% endfor %}

        {% for post in site.categories['equipo'] %}
        {% if post.lang == page.lang %}
            <a href="{{ post.url }}" class="ajax {{ post.ident }}">
                <h3>{{ post.title }}</h3>
            </a>
        {% endif %}
        {% endfor %}
    </div>
</section>