<nav id="nav">
    <div class="wrapper">

    {% if page.lang == "es" %}
        <a href="index-en.html" class="language es">
            <h5 class="letteringjs-words">
                <span class="word1">Visit</span>
                <span class="word2">us</span>
                <span class="word3">in</span>
            </h5>
            English
        </a>
    {% endif %}

    {% if page.lang == en %}
        <a href="/" class="language en">
            <h5 class="letteringjs-words">
                <span class="word1">Visítanos</span>
                <span class="word2">en</span>
            </h5>
            Español
        </a>
    {% endif %}

    <ul>
        {% for menu in site.nav[page.lang] %}
            <li>
                <a class="{{ menu[1].ident }}" href="{% if menu[1].ident != "blog" %}/{{ menu[1].ident }}{% else %}{{ menu[1].url }}{% endif %}">
                    <h5>{{ menu[1].subtitle }}</h5>
                    {{ menu[1].title }}
                </a>
            </li>
        {% endfor %}
    </ul>
    </div>
    <a href="javascript:void(0);" id="closeNav"><i class="icon-close"></i></a>
</nav>