<nav id="nav">
    <div class="wrapper">

    <a href="index-en.html" class="language es">
        <h5 class="letteringjs-words">Visit us in</h5>
               English
    </a>

    <ul>
        <li><a class="servicios" href="#">
            <h5>Descubre Nuestros</h5>
            Servicios</a></li>
        <li><a class="estudio" href="#">
            <h5>Visita Nuestro</h5>
            Estudio</a></li>
        <li><a class="renos" href="#">
            <h5>Acerca de</h5>
            Nosotros</a></li>
        <li><a class="trabajo" href="#">
            <h5>Conoce Nuestro</h5>
            Trabajo</a></li>
        <li><a href="http://renoestudios.tumblr.com" class="blog">
            <h5>Lee Nuestro</h5>
            Blog
        </a></li>
        <li><a class="contacto" href="#">
            <h5>Ponte En</h5>
            Contacto</a></li>
    </ul>
    </div>
    <a href="javascript:void(0);" id="closeNav"><i class="icon-close"></i></a>
</nav>