<!-- Renos -->

<section id="renos">

    <h2>Nosotros</h2>

    {% for post in site.categories['renos'] reversed %}
        <article id="{{ post.ident }}" class="{% if post.hardcore %}hardcore{% else %}lilbitch{% endif %}">
            <picture>
                <source srcset="/images/renos/{{ post.ident }}-hi.jpg" media="(min-width: 600px)">
                <img srcset="/images/renos/{{ post.ident }}-lo.jpg" alt="{{ post.title }}">
            </picture>

            <div class="wrapper">
                <h3>{{ post.title }}</h3>
                {{ post.content }}
            </div>
        </article>
    {% endfor %}
</section>