<!-- Servicios -->

<h1>Servicios</h1>

<section id="servicios">
    <div class="wrapper">

        {% for post in site.categories['servicios'] reversed %}
        {% if post.lang == page.lang %}

            <article class="{{ post.ident }}">
                <div class="wrapper">
                    <div>
                        <img src="/images/icons/{{ post.ident }}.svg" class="icon-{{ post.ident }}">
                        <h3>{{ post.title }}</h3>
                    </div>
                    {{ post.content }}
                </div>
            </article>

        {% endif %}
        {% endfor %}

    </div>
</section>