.icon-grabacion { background-image: url(png/grabacion.png); background-repeat: no-repeat; }

.icon-hosting { background-image: url(png/hosting.png); background-repeat: no-repeat; }

.icon-mastering { background-image: url(png/mastering.png); background-repeat: no-repeat; }

.icon-mezcla { background-image: url(png/mezcla.png); background-repeat: no-repeat; }

.icon-produccion { background-image: url(png/produccion.png); background-repeat: no-repeat; }

.icon-video { background-image: url(png/video.png); background-repeat: no-repeat; }